{% extends "base.html" %}
    {% block title %} {{ title }} {% endblock %}

    {% block content %}
        <div class="container" id="bathroom-list">
            <div id="particles-js"></div>
            <div class="row">
                <div id="nearestBathroom" class="col">
                    <button class="btn btn-primary"><h1>Current Location</h1></button>
                    <div id="nudge"></div>
                    <p>Latitude: <div id="startLat"></div></p>
                    <p>Longitude: <div id="startLon"></div></p>
{#                    <p>Current Lat: </p><div id="currentLat"></div>#}
{#                    <p>Current Lon: </p><div id="currentLon"></div>#}
            </div>
            </div>

        </div>
{% endblock %}