{% extends "base.html" %}
    {% block title %} {{ title }}{% endblock %}


{% block content %}
    <!-- homepage main -->
    <div id="homepage-main">

      <!-- particles.js container -->
      <div id="particles-js"></div>

      <!--Homepage Content-->
      <div id="homepage-content" class="row">
        <div class="col">
{#            #TODO: ADD LINK TO NEAREST LOCATION FINDER#}
{#            <a href="#" style="color:white;"><h1>Gotta Go?</h1></a>#}
            <a id="nearestBathroom" href="#"><h1>Expediting <br>Your Next<br><i>(...ahem...)</i></h1></a>

            <div id="nudge"></div>
            <div id="startLat"></div>
            <div id="startLon"></div>
            <div id="currentLat"></div>
            <div id="currentLon"></div>
        </div>
      </div>
    </div>

{% endblock %}
