{% extends "base.html" %}
    {% block title %} {{ title }}{% endblock %}


{% block content %}
    <!-- homepage main -->
    <div id="homepage-main">

      <!-- particles.js container -->
      <div id="particles-js"></div>

      <!--Homepage Content-->
      <div id="homepage-content" class="row">
        <div class="col">
{#            #TODO: ADD LINK TO NEAREST LOCATION FINDER#}
            <a href="/bathroom-list"><h1>Expediting <br>Your Next<br><i>(...ahem...)</i></h1></a>


            {# setup modal for selecting location, send to list ordered by nearest lat/long.#}
            {#next setup modal in bathroom list which redirects and routes to directions in google maps#}
            {#after arrival, popup for review redirect (if logged in, otherwise to login/register, then review)#}
            {##}

{##}
{#            <div id="nudge"></div>#}
{#            <div id="startLat"></div>#}
{#            <div id="startLon"></div>#}
{#            <div id="currentLat"></div>#}
{#            <div id="currentLon"></div>#}
        </div>
      </div>
    </div>

{% endblock %}
